
body {
  background: url('https://i.pinimg.com/564x/01/e4/df/01e4df68a7568b6501661b9f5bd2abb9.jpg');
}

.btn-outline-success {
  background: $teal;
  border: 1px solid $gray;
  opacity: .75;

}

footer {
  background: darken($gray, 35%);
  clear: both;
  margin: 50px auto;
  max-width: 100%;
  opacity: .75;
  text-align: center;

}

.gameboard {
  height: 302px;
  margin: 100px auto;
  width: 302px;
}

.get-games {
  background: $teal;
  border: 1px solid $gray;
  display: flex;
  margin: 50px auto;
  opacity: .75;
}

h2, h3 {
  color: $white;
  text-shadow: 2px 2px $gray;
}

.header {
  color: $white;
  font-size: 70px;
  max-width: 100%;
  text-align: center;
  text-shadow: 2px 2px $gray;
}

.played-games {
  background: $gray;
  opacity: .75;
}

#game-message {
  color: $black;
  font-size: 20px;
  text-align: center;
}

.new-game {
  background: $teal;
  border: 1px solid $gray;
  display: flex;
  margin: 50px auto;
  opacity: .75;
}


#player-message {
  background: $gray;
  color: $white;
  font-size: 20px;
  text-align: center;
}

.tile {
  background: $white;
  border: 2px solid $black;
  float: left;
  font-family: Cambria;
  font-size: 70px;
  height: 100px;
  opacity: .5;
  text-align: center;
  width: 100px;
}

.tile:hover {
  background-color: lighten($teal, 30%);
  opacity: .75;
}

#signin-message {
  font-weight: bold;
  color: $gray;
}
